/* This is a v1 of jellyfin theming css */

@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css"); /* This line tells Jellyfin to use rounded icons*/

/* Played Indicator parameters */
.playedIndicator {
    background: #00000058 !important;
}

/* Displaying external links in mobile layout */
.layout-mobile .itemExternalLinks {
    display: block !important;
}

/* Transparent top menu */
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
background: none;
background-color: rgba(0, 0, 0, 0);
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
background: none;
background-color: rgba(0, 0, 0, 0);
}

/* Rounding Images */
.cardContent-button,
.itemDetailImage {
    border-radius: 0.35em; /* Value subject to changes... */
}

/* Enlarging the tab buttons */
.headerTabs.sectionTabs {
    text-size-adjust: 110%;
    font-size: 110%;
}
.pageTtile {
    margin-top: auto;
    margin-bottom: auto;
}
.emby-tab-button {
    padding: 1.75em 1.7em;
}

/* Shrink and square (or round) cast thumbnails */
#castContent .card.overflowPortraitCard.personCard.card-hoverable.card-withuserdata {width: 4.2cm !important; font-size: 90% !important;}
#castContent .card.overflowPortraitCard.personCard.card-withuserdata {width: 4.2cm !important; font-size: 90% !important;}

/* Correct image aspect ratio behavior, set border-radius to zero for square tiles */
#castContent .cardContent-button.cardImageContainer.coveredImage.cardContent.cardContent-shadow.itemAction.lazy {background-size: cover !important; border-radius: 50%;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground1.cardContent.cardContent-shadow.itemAction {background-size: cover !important; border-radius: 50%;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground2.cardContent.cardContent-shadow.itemAction {background-size: cover !important; border-radius: 50%;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground3.cardContent.cardContent-shadow.itemAction {background-size: cover !important; border-radius: 50%;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground4.cardContent.cardContent-shadow.itemAction {background-size: cover !important; border-radius: 50%;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground5.cardContent.cardContent-shadow.itemAction {background-size: cover !important; border-radius: 50%;}
#castContent .cardScalable {width: 3.8cm !important; height: 3.8cm !important; border-radius: 50%;}
#castContent .cardOverlayContainer.itemAction {border-radius: 50%;}

/* Center the mouseover buttons */
#castContent .cardOverlayButton-br {bottom: 4%; right: 15%; width: 70%;}
#castContent .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light {margin:auto;}