/* This is a v1 of jellyfin theming css */

@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css"); /* This line tells Jellyfin to use rounded icons*/
/* Played Indicator parameters */
.playedIndicator {
    background: #00000058 !important;
}

/* Displaying external links in mobile layout */
.layout-mobile .itemExternalLinks {
    display: block !important;
}

/* Transparent top menu */
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
    background: none;
    background-color: rgba(0, 0, 0, 0);
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
    background: none;
    background-color: rgba(0, 0, 0, 0);
}

/* Rounding Images ----- Value subject to changes... */
.cardContent-button,
.itemDetailImage {
    border-radius: 0.35em;
}

/* Enlarging the tab buttons */
.headerTabs.sectionTabs {
    text-size-adjust: 110%;
    font-size: 110%;
}
.pageTtile {
    margin-top: auto;
    margin-bottom: auto;
}
.emby-tab-button {
    padding: 1.75em 1.7em;
}